<div class='ui container'>
<h2>Automated form backend for static sites</h2>
<p>Stop worrying about setting up an an api just to process data from a single form on an otherwise static site.</p>
<p>Aeroform streamlines and simplifies the process</p>
<p>Just follow these simple steps:</p>
<ol>
  <li>Create an account by registering your email address</li>
  <li>Generate an API key</li>
  <li>Tell your site to POST data to aeroform.co/api/v1/formdata</li>
  <li>Include your API key, your formdata, and the email to which you want the data to be sent as body params in the request</li>
  <li>Recieve your users form data directly to your inbox every time a user submits a form</li>
</ol>
</div>