<div class='container'>
  <h2>Documentation</h2>
  <p>Aeroform was designed to be as simple to use as possible. Just send a POST request with your API key and your email data (recipient, body, and an optional subject line), and your info will be converted into an email and sent to you.
  <div class='ui segment'>
    <p>POST request to `http://www.aeroform.xyz/api/v1/formdata`</p>
  </div>
  <p>Please feel free to contact me with any questions or concerns.</p>
</div>