<p>Please enter your email below to recieve a new confirmation email, then follow the link in that email to finish setting up your account.</p>
<%= form_for :user,   
  :url => {:action => 'resend_email_confirmation'},
  :html => {:class => 'ui form'} do | form | 
%>
  
  <div class='text field field'>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class='submit-field field'>
    <%= form.submit class: 'ui button', value: "Resend email" %>
  </div>

<% end %>