// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-image: image-url("banner.png");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
}

.text-wrapper {
  position: absolute;
  padding: 100px 70px;
}
